.App {
  text-align: left;
  color: black;
}

.small-screen {
  font-size: 12px;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
}

h2 {
  font-size: 1.4em;
  font-weight: 200;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding: 0 0 20px 0;
}

p,
ul,
label {
  font-size: 0.68em;
  line-height: 170%;
}

.medium-screen p,
.medium-screen ul,
.medium-screen label,
.small-screen p,
.small-screen ul,
.small-screen label {
  font-size: 0.95em;
}

.medium-screen label {
  font-size: 0.7em;
}

ul {
  padding: 15px;
}

li {
  padding: 3px 0;
}

img {
  border-radius: 4px;
}

header {
  padding: 10px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}
header .navLinks {
  display: flex;
  align-items: center;
}
header .navLink {
  color: black;
  opacity: 60%;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
}
header .login-button {
  margin: 0 0 0 15px;
  width: 100px;
}

.medium-screen header,
.small-screen header {
  justify-content: center;
}
.medium-screen .navLinks,
.small-screen .navLinks {
  display: none;
}

#logo {
  width: 170px;
  height: auto;
  cursor: default;
}

button {
  width: 130px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #347ab7;
  color: white;
  font-size: 11px;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
}

.login-button {
  background-color: #eef7ff;
  color: #347ab7;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 0 15%;
  color: rgba(0, 0, 0, 0.5);
}
footer a {
  text-decoration: underline;
  color: inherit;
}

.Home {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.HeroSwiper {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0 5px;
  margin: 0;
  background-image: url(../media/Icon_Arrow.svg);
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: center;
  background-color: #575656;
  border-radius: 0 4px 4px 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  transform: rotate(180deg);
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-slide {
  height: auto !important;
}

.small-screen .swiper-button-next,
.small-screen .swiper-button-prev {
  display: none;
}

.slide {
  display: block;
  padding: 9vw 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 10% left;
}

.small-screen .slide {
  padding: 40vw 0 20vw 0;
  background-size: 220%;
  background-position: top 10% center;
}

.medium-screen .slide {
  padding: 50px 0 10px 0;
}

.slide-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 15%;
  width: 35%;
}
.slide-contents h1,
.slide-contents p,
.slide-contents button {
  line-height: normal;
  margin: 15px 0px;
}
.slide-contents p {
  font-size: 1em;
}

.small-screen .slide-contents {
  width: 80%;
  padding: 0 7%;
}
.small-screen .slide-contents h1,
.small-screen .slide-contents p,
.small-screen .slide-contents button {
  line-height: normal;
  margin: 5px 0px;
}
.small-screen .slide-contents button {
  display: inline-block;
  width: auto;
}

.section-2 {
  padding: 50px 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: center;
}
.section-2 img {
  width: 100%;
}

.medium-screen .section-2,
.small-screen .section-2 {
  padding: 30px 7%;
  display: flex;
  flex-direction: column-reverse;
}
.medium-screen .section-2 button,
.small-screen .section-2 button {
  display: inline-block;
  width: 100%;
}

.section-3 {
  padding: 50px 15%;
  background-image: url("../media/shutterstock_1302552622.jpg");
  background-repeat: no-repeat;
  background-position: top 10% center;
  background-size: 110%;
  display: flex;
}
.section-3 .text-box {
  width: 45%;
  padding: 25px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 6px;
}

.medium-screen .section-3,
.small-screen .section-3 {
  padding: 30px 7%;
  background-size: 150%;
}
.medium-screen .section-3 .text-box,
.small-screen .section-3 .text-box {
  width: 60%;
}

.small-screen .section-3 {
  height: 120vw;
  background-size: 210%;
}
.small-screen .section-3 .text-box {
  display: block;
  margin: 0 auto 0 auto;
  height: 80%;
  width: 86%;
}
.small-screen .section-3 .text-box button {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.section-4 {
  padding: 50px 15%;
  text-align: center;
}
.section-4 p {
  margin: 0 0 10px 0;
}
.section-4 .paragraphs {
  margin: 0 0 20px 0;
  column-count: 3;
}

.medium-screen .section-4 .paragraphs,
.small-screen .section-4 .paragraphs {
  column-count: 1;
}

.AboutUs {
  margin: 0 15%;
  padding: 40px 0;
}
.AboutUs h1 {
  font-size: large;
  font-weight: 200;
  padding: 0 0 15px 0;
}
.AboutUs h2 {
  padding: 15px 0 0 0;
}
.AboutUs img {
  display: block;
  margin: 40px auto;
  width: 45vw;
  border-radius: 5px;
}
.AboutUs ul {
  padding: 0 15px;
}
.AboutUs .blue-underline {
  color: blue;
  text-decoration: underline;
}
.AboutUs .blue-underline:hover {
  cursor: pointer;
}

.small-screen .AboutUs {
  margin: 0 7%;
}
.small-screen .AboutUs img {
  width: 75vw;
}

.ContactUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 15%;
  column-gap: 4vw;
}
.ContactUs .left {
  padding: 40px 0 60px 0;
}
.ContactUs .right {
  background-image: url("../media/Img_Contact.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 100%;
}
.ContactUs h1 {
  font-size: large;
  font-weight: 200;
  padding: 0 0 15px 0;
}

.medium-screen .ContactUs,
.small-screen .ContactUs {
  display: flex;
  flex-direction: column;
}
.medium-screen .right,
.small-screen .right {
  display: none;
}

.ContactUsForm {
  display: flex;
  flex-direction: column;
}
.ContactUsForm .name-and-email {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.ContactUsForm .address-details {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.ContactUsForm .address-details .FormField:nth-child(1) {
  grid-column: 1/3;
}
.ContactUsForm .address-details .FormField:nth-child(2) {
  grid-column: 3/-1;
}

.small-screen .ContactUsForm .name-and-email {
  display: flex;
  flex-direction: column;
}
.small-screen .ContactUsForm .address-details {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.small-screen .ContactUsForm .address-details .FormField:nth-child(1) {
  grid-column: 1/3;
}
.small-screen .ContactUsForm .address-details .FormField:nth-child(2) {
  grid-column: 1/3;
}

.FormField {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.FormField .optional {
  color: grey;
  font-style: italic;
}
.FormField .subtext {
  color: grey;
}
.FormField div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.FormField div p {
  margin: 0;
}
.FormField input {
  height: 40px;
}
.FormField textarea {
  resize: vertical;
}
.FormField input,
.FormField textarea {
  margin: 5px 0;
  width: 100%;
  background-color: #f8f9fc;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.FormField .valid {
  border-color: green;
}
.FormField .invalid {
  border-color: red;
}

.PhoneNumberField button {
  margin: 10px 0 15px 0;
  height: 30px;
  width: 100%;
  background-color: #eef7ff;
  border-style: none;
  color: #4384bc;
  font-weight: bold;
}

.AddressDetailsField {
  display: flex;
  flex-direction: column;
}

.toggle-address-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.toggle-address-details button {
  width: 15px;
  height: 15px;
  padding: 8px;
  margin: 0 10px 15px 0;
  background-color: #f8f9fc;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.toggle-address-details .active {
  padding: 5px;
  background-color: #347ab7;
  border-spacing: 10px;
  border-style: double;
  border-width: 5px;
  border-color: white;
}

.submit-button {
  display: grid;
  width: auto;
  width: auto;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  background-color: #347ab7;
  padding: 10px;
  margin: 0;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.submit-icon {
  height: 10px;
}

.message-sent {
  background-color: #e8f4d9;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  font-size: 0.9em;
}
.message-sent .valid-icon {
  background-color: #8dc63f;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 10px;
}
.message-sent h2,
.message-sent p {
  margin: 3px;
}
.message-sent h2 {
  padding: 8px 0 0 0;
}

/*# sourceMappingURL=App.css.map */
