.App {
  text-align: left;
  color: black;
}  

#logo {
  width: 170px;
  height: auto;
  pointer-events: none;
}  

header {
  padding: 10px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  

.navLink {
  color: black;
  opacity: 60%;
  padding: 0 30px 0 0;
}

.Home {
  display: flex;
  flex-direction: column;
}  

.heroSection {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  background-color: grey;
}  

.heroText {
  margin: 0 0 0 100px;
}  

.heroContent {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  text-align: left;
}  

.heroContent button {
  height: 40px;
}  
/* .leftArrow {

}   */

.rightArrow {
  transform: rotate(180deg);
}  


