.App {
  text-align: left;
  color: black;
  /* overflow-x: hidden; */
}  

#logo {
  width: 170px;
  height: auto;
  pointer-events: none;
}  

header {
  padding: 10px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  

.navLink {
  color: black;
  opacity: 60%;
  padding: 0 30px 0 0;
}

.Home {
  display: flex;
  flex-direction: column;
}  

.heroSection {
  display: flex;
  flex-direction: column;
  /* padding: 0 10%; */
  background-color: lightgray;
  /* height: 250px; */
}

.heroSlide {
  padding: 0 10vw;
  background-image: url("./media/shutterstock_407632243.jpg");
}

/* .heroText {
  margin: 0 0 0 100px;
}  

.heroContent {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  text-align: left;
}  

.heroContent button {
  height: 40px;
}  */

.leftArrow {

} 

.rightArrow {
  transform: rotate(180deg);
}  


.section2 {
  padding: 50px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.section2 img {
  width: 100%;
}

.section3 {
  background-image: url("./media/shutterstock_1302552622.jpg");
}

.section3 .textbox {
  margin: 0 10%;
  width: 40%;
  background-color: rgba(0,0,0,0.4);
}