$standard-margin: 15%;
$small-margin: 7%;
$company-blue: #347ab7;
$company-light-blue: #eef7ff;
$company-dark-blue: #4384bc;

.App {
  text-align: left;
  color: black;
}

.small-screen {
  font-size: 12px;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
}

h2 {
  font-size: 1.4em;
  font-weight: 200;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding: 0 0 20px 0;
}

p,
ul,
label {
  font-size: 0.68em;
  line-height: 170%;
}

.medium-screen,
.small-screen {
  p,
  ul,
  label {
    font-size: 0.95em;
  }
}

.medium-screen {
  label {
    font-size: 0.7em;
  }
}

ul {
  padding: 15px;
}

li {
  padding: 3px 0;
}

img {
  border-radius: 4px;
}

header {
  padding: 10px $standard-margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;

  .navLinks {
    display: flex;
    align-items: center;
  }

  .navLink {
    color: black;
    opacity: 60%;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
  }

  .login-button {
    margin: 0 0 0 15px;
    width: 100px;
  }
}

.medium-screen,
.small-screen {
  header {
    justify-content: center;
  }
  .navLinks {
    display: none;
  }
}

#logo {
  width: 170px;
  height: auto;
  cursor: default;
}

button {
  width: 130px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: $company-blue;
  color: white;
  font-size: 11px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.login-button {
  background-color: $company-light-blue;
  color: #347ab7;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 0 $standard-margin;
  color: rgba(0, 0, 0, 0.5);
  a {
    text-decoration: underline;
    color: inherit;
  }
}

// HOME PAGE

.Home {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  flex-direction: column;
  // background-color: lightgray;
}

.HeroSwiper {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0 5px;
  margin: 0;
  background-image: url(../media/Icon_Arrow.svg);
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position: center;
  background-color: #575656;
  border-radius: 0 4px 4px 0;

  &:after {
    display: none;
  }
}
.swiper-button-next {
  transform: rotate(180deg);
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-slide {
  height: auto !important;
}

.small-screen {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.slide {
  display: block;
  padding: 9vw 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 10% left;
}
.small-screen {
  .slide {
    padding: 40vw 0 20vw 0;
    background-size: 220%;
    background-position: top 10% center;
  }
}
.medium-screen {
  .slide {
    padding: 50px 0 10px 0;
  }
}

.slide-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 $standard-margin;
  width: 35%;

  h1,
  p,
  button {
    line-height: normal;
    margin: 15px 0px;
  }

  p {
    font-size: 1em;
  }
}

.small-screen {
  .slide-contents {
    width: 80%;
    padding: 0 $small-margin;

    h1,
    p,
    button {
      line-height: normal;
      margin: 5px 0px;
    }
    button {
      display: inline-block;
      width: auto;
    }
  }
}

.section-2 {
  padding: 50px $standard-margin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: center;

  img {
    width: 100%;
  }
}

.medium-screen,
.small-screen {
  .section-2 {
    padding: 30px $small-margin;
    display: flex;
    flex-direction: column-reverse;

    button {
      display: inline-block;
      width: 100%;
    }
  }
}

.section-3 {
  padding: 50px $standard-margin;
  background-image: url("../media/shutterstock_1302552622.jpg");
  background-repeat: no-repeat;
  background-position: top 10% center;
  background-size: 110%;
  display: flex;

  .text-box {
    width: 45%;
    padding: 25px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 6px;
  }
}

.medium-screen,
.small-screen {
  .section-3 {
    padding: 30px $small-margin;
    background-size: 150%;
    .text-box {
      width: 60%;
    }
  }
}

.small-screen {
  .section-3 {
    height: 120vw;
    background-size: 210%;
    .text-box {
      display: block;
      margin: 0 auto 0 auto;
      height: 80%;
      width: calc(100% - 2 * $small-margin);

      button {
        display: block;
        margin: 20px 0;
        width: 100%;
      }
    }
  }
}

.section-4 {
  padding: 50px $standard-margin;
  text-align: center;

  p {
    margin: 0 0 10px 0;
  }

  .paragraphs {
    margin: 0 0 20px 0;
    column-count: 3;
  }
}

.medium-screen,
.small-screen {
  .section-4 {
    .paragraphs {
      column-count: 1;
    }
  }
}

// ABOUT US PAGE

.AboutUs {
  margin: 0 $standard-margin;
  padding: 40px 0;

  h1 {
    font-size: large;
    font-weight: 200;
    padding: 0 0 15px 0;
  }

  h2 {
    padding: 15px 0 0 0;
  }

  img {
    display: block;
    margin: 40px auto;
    width: 45vw;
    border-radius: 5px;
  }

  ul {
    padding: 0 15px;
  }

  .blue-underline {
    color: blue;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.small-screen {
  .AboutUs {
    margin: 0 $small-margin;

    img {
      width: 75vw;
    }
  }
}

// CONTACT US PAGE

.ContactUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 $standard-margin;
  column-gap: 4vw;

  .left {
    padding: 40px 0 60px 0;
  }

  .right {
    background-image: url("../media/Img_Contact.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%;
  }

  h1 {
    font-size: large;
    font-weight: 200;
    padding: 0 0 15px 0;
  }
}

.medium-screen,
.small-screen {
  .ContactUs {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  .right {
    display: none;
  }
}

.ContactUsForm {
  display: flex;
  flex-direction: column;

  .name-and-email {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .address-details {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    .FormField:nth-child(1) {
      grid-column: 1 / 3;
    }
    .FormField:nth-child(2) {
      grid-column: 3 / -1;
    }
  }
}

.small-screen {
  .ContactUsForm {
    .name-and-email {
      display: flex;
      flex-direction: column;
    }

    .address-details {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      .FormField:nth-child(1) {
        grid-column: 1 / 3;
      }

      .FormField:nth-child(2) {
        grid-column: 1 / 3;
      }
    }
  }
}

.FormField {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  .optional {
    color: grey;
    font-style: italic;
  }

  .subtext {
    color: grey;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }

  input {
    height: 40px;
  }

  textarea {
    resize: vertical;
  }

  input,
  textarea {
    margin: 5px 0;
    width: 100%;
    background-color: #f8f9fc;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .valid {
    border-color: green;
  }
  .invalid {
    border-color: red;
  }
}

.PhoneNumberField button {
  margin: 10px 0 15px 0;
  height: 30px;
  width: 100%;
  background-color: #eef7ff;
  border-style: none;
  color: #4384bc;
  font-weight: bold;
}

.AddressDetailsField {
  display: flex;
  flex-direction: column;
}

.toggle-address-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  button {
    width: 15px;
    height: 15px;

    padding: 8px;
    margin: 0 10px 15px 0;
    background-color: #f8f9fc;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .active {
    padding: 5px;
    background-color: #347ab7;
    border-spacing: 10px;
    border-style: double;
    border-width: 5px;
    border-color: white;
  }
}

.submit-button {
  display: grid;
  width: auto;
  width: auto;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  background-color: #347ab7;
  padding: 10px;
  margin: 0;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.submit-icon {
  height: 10px;
}

.message-sent {
  background-color: #e8f4d9;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  font-size: 0.9em;

  .valid-icon {
    background-color: #8dc63f;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 10px;
  }

  h2,
  p {
    margin: 3px;
  }

  h2 {
    padding: 8px 0 0 0;
  }
}

// .company-icon {
//   /* background-color: black; */
// }
